<h1>Login</h1>
<% for (const data of errors) { %>
  <p><%= data %></p>
<% } %>
<form action="/login" method="POST">
  <div>
    <div>
      <input type="text" name="email" placeholder="Email">
    </div>
  </div>
  <div>
    <div>
      <input type="password" name="password" placeholder="Password">
    </div>
  </div>
  <input type="submit" value="Login">
</form>
<div>
  <span>
    Doesn't have an account?
  </span>
  <a href="/signup">Sign up!</a>
</div>
