
  <div>
    <ul>
      <li>
	<a href="/reviews">
	  Customer Reviews
	</a>
      </li>
    </ul>
  </div>




      <li>
	<a href="/signup">
	  Sign Up
	</a>
      </li>
      <li>
	<a href="/login">
	  Login
	</a>
      </li>
      <% } else {%>
