<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<nav>
  <div>
    <a href="/">
      <h1>Go Walk Walk!</h1>
    </a>
  </div>
  <div>
    <ul>
      <li>
	<a href="/reviews">
	  Customer Reviews
	</a>
      </li>
    </ul>
  </div>
  <div>
    <ul>
    <% if (!user?.id) { %>
      <li>
	<a href="/signup">
	  Sign Up
	</a>
      </li>
      <li>
	<a href="/login">
	  Login
	</a>
      </li>
      <% } else {%>
      <li>
	<div>
	  <span><%= "Username" %></span>
	</div>
	<!-- dropdown menu -->
	<div class="hidden absolute">
	  <div>
	    <a></a>
	  </div>
	  <div>
	    <a href="/settings/<%= user.id %>">Settings</a>
	  </div>
	  <div>
	    <a href="/logout/<%= user.id %>">Logout</a>
	  </div>
	</div>
	<!-- end dropdown menu -->
      </li>
      <% } %>
    </ul>
  </div>
</nav>
