<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<nav>
  <div>
    <a href="/">
      <h1>Go Walk Walk!</h1>
    </a>
  </div>
  <div>
    <ul>
    <% if (user?.id) { %>
      <li>
	<div>
	  <span id="username" class="has-dropdown"><%= user.username %></span>
	</div>
	<!-- dropdown menu -->
	<div id="dropdown-username" class="dropdown-menu hidden absolute">
	  <div>
		<a href="/history">History</a>
	  </div>
	  <div>
	    <a href="/settings">Profile</a>
	  </div>
	  <div>
	    <a href="/logout">Logout</a>
	  </div>
	</div>
	<!-- end dropdown menu -->
      </li>
      <% } else { %>
	<li>
	  <div>
	    <a href="/signup">Sign Up</a>
	  </div>
	</li>
	<li>
	  <div>
	    <a href="/">Login</a>
	  </div>
	</li>
      <% } %>
    </ul>
  </div>
</nav>
<script type="text/javascript" src="/script/navbar.js"></script>
