<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<nav class="flex">
  <div class="grow">
    <a href="/">
      <h1>Go Walk Walk!</h1>
    </a>
  </div>
  <div class="menu">
    <ul>
    <% if (user?.id) { %>
      <li>
	<div id="menu-username" class="bg-trans-w">
	  <span id="username" class="has-dropdown"><%= profile?.profileName || user.username %> - <%= user.role %></span>
	</div>
	<!-- dropdown menu -->
	<div id="dropdown-username" class="dropdown-menu hidden absolute">
	  <div class="bg-trans-w">
		<a href="/history">History</a>
	  </div>
	  <div class="bg-trans-w">
	    <a href="/settings">Profile</a>
	  </div>
	  <div class="bg-trans-w">
	    <a href="/logout">Logout</a>
	  </div>
	</div>
	<!-- end dropdown menu -->
      </li>
      <% } else { %>
	<li>
	  <div class="bg-trans-w">
	    <a href="/signup">Sign Up</a>
	  </div>
	</li>
	<li>
	  <div class="bg-trans-w">
	    <a href="/">Login</a>
	  </div>
	</li>
      <% } %>
    </ul>
  </div>
</nav>
<script type="text/javascript" src="/script/navbar.js"></script>
