  <form action="/go/<%= user.id %>" method="POST">
    <div>
      <div>
	<label for="destination">Where do you wanna go today?</label>
      </div>
      <div>
	<input type="text" name="destination">
      </div>
    </div>
    <div>
      <div>
	<label for="pickupAt">Where you want us to pick you up?</label>
      </div>
      <div>
	<input type="text" name="pickupAt">
      </div>
    </div>
    <div>
      <div>
	<label for="type">Select Your Ride:</label>
      </div>
      <div>
	<select name="type">
	  <option value="" disabled selected>Select Your Ride</option>
    <option value="WalkRide">WalkRide</option>
    <option value="WalkCar">WalkCar</option>
    <option value="WalkTaxi">WalkTaxi</option>
	</select>
      </div>
    </div>
    <div>
      <div>
	<label for="DriverId">Select a Driver:</label>
      </div>
      <div>
	<select name="DriverId">
	  <option value="" disabled selected>Select a Driver</option>
	  <% for (const data of drivers) { %>
	    <option value="<%= data.id %>" ><%= data.name %></option>
	  <% } %>
	</select>
      </div>
    </div>
    <input type="submit" value="Go">
  </form>
