<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders History</title>
</head>
<body>
    <table>
        <tr>
          <th>Order Id</th>
          <th>User Name</th>
          <th>User Pickup</th>
          <th>User Destination</th>
          <th>Driver Name</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Qomqom</td>
          <td>Mojokerto</td>
          <td>Jakarta</td>
          <td>Buroq</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Marq</td>
            <td>Mojokerto</td>
            <td>Surga</td>
            <td>Pahala</td>
        </tr>
      </table> 
</body>
</html>