<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user }) %>

<section>
  <% if (user) { %>
    <%- include("partials/order") %>
  <% } else { %>
    <%- include("partials/login") %>
   <% } %>
</section>
</body>
</html>
