<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user }) %>

<section>
  <% if (user?.id) { %>
    <%- include("partials/order", { errors, user, drivers }) %>
  <% } else { %>
    <%- include("partials/login", { errors, user, drivers } ) %>
   <% } %>
</section>
</body>
</html>
