<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user, profile }) %>

<section class="body content">
  <% if (user?.id) { %>
        <% if (errors) { %>
          <% errors.toString().split(",").forEach(el => { %>
            <p style="color: red; font-weight: bold;"><%= el %></p>
          <% }) %>
        <% } %>
    <%- include("partials/order", { errors, user, drivers }) %>
  <% } else { %>
    <%- include("partials/login", { errors, user, drivers } ) %>
   <% } %>
</section>
</body>
</html>
