<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
    <title>On Going Service</title>
</head>
<body>
  <%- include("partials/navbar", {user, profile}) %>
    <% if (end) {%>
        <h2>Perkiraan Waktu Tiba</h2>
        <h2><%= `00:00` %></h2>
        <h3>Sudah Sampaiii!</h3>
        <p>Berikan Rate Untuk Pengalaman Perjalananmu:</p>
      <form action="/ongoing" method="post">
        <label>
            <input type="radio" name="point" value="1"/>1 <span class="fa fa-star checked"></span>
        </label>
        <label>
            <input type="radio" name="point" value="2"/>2 <span class="fa fa-star checked"></span>
        </label>
        <label>
            <input type="radio" name="point" value="3"/>3 <span class="fa fa-star checked"></span>
        </label>
        <label>
            <input type="radio" name="point" value="4"/>4 <span class="fa fa-star checked"></span>
        </label>
        <label>
            <input type="radio" name="point" value="5"/>5 <span class="fa fa-star checked"></span>
        </label>
        <br><br>
        <input type="submit" value="Submit Stars">
      </form>
      <h5>Notice: Demo email service has been disabled to avoid spam.</h5>
    <% %>
    <% } else { %>

    <h2>Perkiraan Waktu Tiba</h2>
    <h2 id="countdown"><%= ETA %></h2>
    <h3>Semoga Selamat Sampai Tujuan!</h3>
    <br>
    <br>
    <a href="/ongoing?end=end">
        <button>Akhiri Perjalanan</button>
    </a>
    <% } %>
    <script src="/script/ongoing.js" type="text/javascript"></script>
</body>
</html>
