<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user }) %>

<section>
  <div>
    <h1>Profile</h1>
  </div>
  <form action="/settings" method="POST">
    <div>
      <div>
	<label for="username">Username:</label>
      </div>
      <div>
	<input type="text" name="username" placeholder="Username">
      </div>
    </div>
    <div>
      <div>
	<label for="email">Email:</label>
      </div>
      <div>
	<input type="text" name="email" placeholder="Email">
      </div>
    </div>
    <div>
      <div>
	<label for="phoneNumber">Phone Number:</label>
      </div>
      <div>
	<input type="text" name="phoneNumber" placeholder="Phone Number">
      </div>
    </div>
    <div>
      <div>
	<label for="password">Password</label>
      </div>
      <div>
	<input type="password" name="password" placeholder="Password">
      </div>
    </div>
    <div>
      <div>
	<label for="repeatPassword">Repeat your password:</label>
      </div>
      <div>
	<input type="password" name="repeatPassword" placeholder="Repeat your password">
      </div>
    </div>
    <input type="submit" value="Update Profile">
  </form>
</section>
</body>
</html>
