<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user }) %>

<section>
  <div>
    <h1>Settings</h1>
  </div>
  <form action="/settings/<%= user.id %>" method="POST">
    <div>
      <div>
	<label for="profileName">Profile Name:</label>
      </div>
      <div>
	<input type="text" name="profileName">
      </div>
    </div>

    <div>
      <div>
	<label for="">:</label>
      </div>
      <div>
	<input type="text" name="">
      </div>
    </div>

    <div>
      <input type="submit" value="Update">
    </div>
  </form>
</section>
</body>
</html>
