<!DOCTYPE html>

<html>
<head></head>
<body>
<%- include("partials/navbar", { user: null, profile: null }) %>

<section class="body content">
    <%- include("partials/signup") %>
</section>
</body>
</html>
