form.login input, form.login select, .btn-delete, form.login textarea, section.login button, .login-wide-graybox {
  width: calc(97% + 2px);
  border: 2px solid lightgray;
  padding: 8px;
  border-radius: 10px;
  margin: 6px 0px;
}

form.login select {
}

form.login input[type="submit"], form.login select, .btn-delete {
  width: 100%;
}

.btn-delete {
  color: white;
  background-color: red;
  border: 2px solid red;
}

.btn-delete:hover {
  background-color: white;
  color: red;
  transition: .2s;
}

h1.login, h3.login {
  margin: 14px 0px;
}

h3.left {
  text-align: left;
}

form div.label {
  text-align: left;
}

form.flex {
  
}
